<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Gerenciamento de Usuarios</title>

    <style>
        .center {
            margin: auto;
            width: 80%;
            padding: 20px;
        }
    </style>



</head>
<body>






    <div class="center">
        <div class="alert alert-success" role="alert" th:if="${(param.Criado != null) and (param.Criado[0] == 'Sim')}">
            Usuario Cadastrado com sucesso
        </div>
        <div class="alert alert-success" role="alert" th:if="${(param.Atualizado != null) and (param.Atualizado[0] == 'Sim')}">
            Usuario Atualizado com sucesso
        </div>
        <table class="table table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Status</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="usuario : ${usuarios}">
            <tr>
                <th scope="row" th:text="${usuario.getId()}">1</th>
                <td th:text="${usuario.getNomeCompleto()}">Davi</td>
                <td th:if="${(usuario.isAtivado())}">
                    Ativado
                </td>
                <td th:unless="${(usuario.isAtivado())}">
                    Desativado
                </td>
                <td>
                    <form method="GET"  th:action="@{'/editar/' + ${usuario.getId()}}">
                    <input class="btn btn-primary" type="submit" value="Editar" >
                    </form>
                    <input class="btn btn-danger" type="button" value="Remover" onclick="confirm()">
                </td>

            </tr>
            </th:block>

            </tbody>
        </table>
        <form method="GET"  action="/criar">
        <button type="submit" class="btn btn-success">Adicionar novo</button>
        </form>


    </div>


    <script>
        function confirm() {
            alert("Deseja remover  ?");
        }

        function adconfirm(){
            alert("Usuário incluído com sucesso!")

        }

        function excluirUsuario(){
            alert("Erro ao excluir usuario!")


        }


        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })



    </script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>