<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Usuario Inclusão</title>

    <style>
        .center {
            margin: auto;
            width: 80%;
            padding: 20px;
        }
    </style>
</head>
<body>

<form class="center">
    <div class="form-group row">
        <label for="userName" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="userName" placeholder="Username">
        </div>
    </div>
    <div class="form-group row">
        <label for="nomeCompleto" class="col-sm-2 col-form-label">Nome Completo</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="nomeCompleto" placeholder="Nome Completo">
        </div>
    </div>
    <div class="form-group row">
        <label for="senha" class="col-sm-2 col-form-label">Senha</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="senha" placeholder="*****">
        </div>
    </div>
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Status ativação</legend>
            <div class="col-sm-10">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                    <label class="form-check-label" for="gridRadios1">
                       Ativado
                    </label>

                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">

                    <label class="form-check-label">Desativado</label>
                </div>

            </div>
        </div>
    </fieldset>
    <div class="form-group row">
        <div class="col-sm-2">Papéis</div>
        <div class="col-sm-10">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                    Admin
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="gridCheck2">
                <label class="form-check-label" for="gridCheck2">
                    Papel1
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="gridCheck3">
                <label class="form-check-label" for="gridCheck3">
                    Papel2
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="gridCheck4">
                <label class="form-check-label" for="gridCheck4">
                    Papel3
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-success">Salvar</button>
            <button type="submit" class="btn btn-warning">Cancelar</button>
        </div>


    </div>
</form>

</body>
</html>